@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap");
/***
    The new CSS reset - version 1.11.3 (last updated 25.08.2024)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

a,
button {
  cursor: revert;
}

ol,
ul,
menu,
summary {
  list-style: none;
}

ol {
  counter-reset: revert;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

table {
  border-collapse: collapse;
}

input,
textarea {
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

:where(pre) {
  all: revert;
  box-sizing: border-box;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

:where([draggable=true]) {
  -webkit-user-drag: element;
}

:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

::-webkit-details-marker {
  display: none;
}

/***
    End of CSS reset
***/
body {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Judson", serif;
}

h1 {
  font-size: 60px;
  font-weight: 600;
}

h2 {
  font-size: 45px;
  font-weight: 600;
}

h3 {
  font-size: 30px;
  font-weight: 600;
}

h4 {
  font-size: 22px;
  font-weight: 600;
}

h5 {
  font-size: 16px;
  font-weight: 600;
}

h6 {
  font-size: 12px;
  font-weight: 600;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

header {
  text-align: center;
}

ul {
  margin: 0 0 0px 30px;
  padding: 5px 0;
  list-style-type: circle;
}

ol {
  margin: 0 0 0px 30px;
  padding: 5px 0;
  list-style-type: decimal;
}

dl {
  margin: 4px;
  padding: 0px;
}

dt {
  font-weight: 600;
  margin: 2px;
}

dd {
  margin: 2px;
}

button,
button.btn.btn-primary {
  background: #3f00ff;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 16px;
  padding: 10px 10px;
  margin: 0 0 0 10px;
  display: inline-block;
  cursor: pointer;
  min-width: 100px;
  text-align: center;
}

button,
button.btn.btn-secondary {
  background: #808080;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 16px;
  padding: 10px 10px;
  margin: 0 0 0 10px;
  display: inline-block;
  cursor: pointer;
  min-width: 100px;
  text-align: center;
}

button,
button.btn.btn-success {
  background: #009e60;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 16px;
  padding: 10px 10px;
  margin: 0 0 0 10px;
  display: inline-block;
  cursor: pointer;
  min-width: 100px;
  text-align: center;
}

button,
button.btn.btn-info {
  background: #87ceeb;
  color: #000000;
  border-radius: 4px;
  border: none;
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 16px;
  padding: 10px 10px;
  margin: 0 0 0 10px;
  display: inline-block;
  cursor: pointer;
  min-width: 100px;
  text-align: center;
}

button,
button.btn.btn-warning {
  background: #ff5733;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 16px;
  padding: 10px 10px;
  margin: 0 0 0 10px;
  display: inline-block;
  cursor: pointer;
  min-width: 100px;
  text-align: center;
}

button,
button.btn.btn-danger {
  background: #c41e3a;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 16px;
  padding: 10px 10px;
  margin: 0 0 0 10px;
  display: inline-block;
  cursor: pointer;
  min-width: 100px;
  text-align: center;
}

form {
  max-width: 600px;
  margin: 10px;
  padding: 0;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

input[type=text],
input[type=email],
input[type=password],
input[type=number] {
  border: 1px solid #000000;
  padding: 10px;
  border-radius: 4px;
}

#dropdown {
  border: 1px solid #000000;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.table {
  width: auto;
  max-width: 100%;
}
.table th,
.table td {
  border: 2px solid #808080;
  padding: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.table thead {
  background-color: #3f00ff;
  color: #ffffff;
}
.table tfoot {
  background-color: #808080;
  color: #000000;
}
.table tfoot td {
  font-weight: 700;
  text-align: center;
}
.table select {
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  width: 100%;
}
.table select:focus {
  outline: none;
  border-color: #3f00ff;
  box-shadow: 0 0 0 2px rgba(63, 0, 255, 0.2);
}

.rounded-sm {
  border-radius: 6px;
}

.rounded-md {
  border-radius: 12px;
}

.rounded-lg {
  border-radius: 24px;
}

.rounded-full {
  border-radius: 50%;
}

.font-extralight {
  font-weight: 200;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-primary {
  color: #3f00ff;
}

.font-secondary {
  color: #808080;
}

.font-success {
  color: #009e60;
}

.font-info {
  color: #87ceeb;
}

.font-warning {
  color: #ff5733;
}

.font-danger {
  color: #c41e3a;
}

.font-dark {
  color: #ffffff;
}

.text-light {
  color: #000000;
}

.bg-primary {
  background-color: #3f00ff;
}

.bg-secondary {
  background-color: #808080;
}

.bg-success {
  background-color: #009e60;
}

.bg-info {
  background-color: #87ceeb;
}

.bg-warning {
  background-color: #ff5733;
}

.bg-danger {
  background-color: #c41e3a;
}

.bg-dark {
  background-color: #ffffff;
}

.bg-light {
  background-color: #000000;
}

.font-xs {
  font-size: 12px;
}

.font-small {
  font-size: 16px;
}

.font-medium {
  font-size: 22px;
}

.font-large {
  font-size: 30px;
}

.font-xl {
  font-size: 45px;
}

.font-2xl {
  font-size: 60px;
}

.m-0 {
  margin: 0px;
}

.m-1 {
  margin: 2px;
}

.m-2 {
  margin: 4px;
}

.m-3 {
  margin: 8px;
}

.m-4 {
  margin: 16px;
}

.m-5 {
  margin: 32px;
}

.p-0 {
  margin: 0px;
}

.p-1 {
  margin: 2px;
}

.p-2 {
  margin: 4px;
}

.p-3 {
  margin: 8px;
}

.p-4 {
  margin: 16px;
}

.p-5 {
  margin: 32px;
}

.border-sm {
  border-width: 1px;
}

.border-md {
  border-width: 2px;
}

.border-lg {
  border-width: 3px;
}

.border-primary {
  border-color: #3f00ff;
}

.border-secondary {
  border-color: #808080;
}

.border-success {
  border-color: #009e60;
}

.border-info {
  border-color: #87ceeb;
}

.border-warning {
  border-color: #ff5733;
}

.border-danger {
  border-color: #c41e3a;
}

.border-dark {
  border-color: #ffffff;
}

.border-light {
  border-color: #000000;
}

.border-solid {
  border-style: solid;
}

.border-dashed {
  border-style: dashed;
}

.border-dotted {
  border-style: dotted;
}

.border-none {
  border: none;
}

/*# sourceMappingURL=goodie.css.map */
